.mini{
  object-fit: cover;  
  width: 200x;
  height: 200px;
}
#filelabel{
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-items: baseline;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
}
.editI{
  margin-right: 15px;
  margin-left: 5px;
  color:blue;
}
.hide{
  display: none;
}
.show{
  display: block;
}
#thumb{
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.extraSize{
  flex: 1 0 100%;  
  flex-direction: column;
}
.specEdit{
  display: flex;
  flex-direction: column;
}
.specImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}